# Baserow Configuration
BASEROW_API_URL=https://api.baserow.io
BASEROW_DATABASE_ID=
BASEROW_API_TOKEN=
BASEROW_USERS_TABLE_ID=
BASEROW_MOVIES_TABLE_ID=
BASEROW_PIRATES_TABLE_ID=
BASEROW_RECOMMENDATION_PROFILE_TABLE_ID=

# TMDB Configuration
TMDB_API_KEY=

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
AUTH_SECRET=change_me
