@import "tailwindcss";

@theme {
  --color-background: #0f1115;
  --color-foreground: #f8fafc;
  
  --color-card: #181b21;
  --color-card-foreground: #f8fafc;
  
  --color-popover: #181b21;
  --color-popover-foreground: #f8fafc;
  
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  
  --color-secondary: #1e293b;
  --color-secondary-foreground: #f8fafc;
  
  --color-muted: #1e293b;
  --color-muted-foreground: #94a3b8;
  
  --color-accent: #2563eb;
  --color-accent-foreground: #ffffff;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  
  --color-border: #334155;
  --color-input: #334155;
  --color-ring: #3b82f6;
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --font-sans: var(--font-inter);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}
